extends ../config/template
append config
	-currentPage		= "home"
	-siteName			= 'Layouts'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block body-container
	section(class="main-container")
		div(class="container")
			h1(class='') Gulp Boilerplate to study 
			ul 
				li lorem
			p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi, dolorem autem maiores quis dolor, reprehenderit delectus quia dolore, incidunt obcaecati sequi labore hic? Soluta doloremque vitae explicabo assumenda fugit tenetur.
			include ../internal-modules/internal-module
			include ../internal-modules/internal-module
			include ../internal-modules/json-data
			include ../internal-modules/markdown
block scripts
