div(class='section-container')
	div(class='item-container')
		h2 Flex
		div(class='flex flex-wrap')
			-for(let i = 1; i<=10; i++)
				div(class='w-full sm:w-1/2 m:w-1/3 l:w-1/4 lg:w-1/5 xl:w-1/6 p-3')
					div(class='bg-[red] h-32 flex items-center justify-center') item #{i}
		h2 grid 
		div(class='grid grid-cols-1 sm:grid-cols-2 m:grid-cols-3 l:grid-cols-4 lg:grid-cols-5 xl:grid-cols-7 gap-5')
			-for(let i = 1; i<=10; i++)
				div(class='bg-red-300 h-32 flex items-center justify-center') item #{i}
		h2 side bar
		div(class='flex flex-col l:flex-row') 
			div(class='order-2 l:order-1 w-full l:w-[400px] bg-gray-300 h-32') first Div
			div(class='order-1 l:order-2 w-full l:flex-1 bg-gray-200 h-32') Second Div
