@use "media-queries";
$breakpoints 				:
	(
		s					: 0,
		m					: 768px,
		l					: 1024px,
		lg					: 1440px,
		xl					: 1600px,
		xxl					: 1920px
);
:root {
	--header-height 		: 48px;
	@screen l {
		--header-height 	: 64px;
	}
}
@layer base {
	*,
	*::before,
	*::after {
		box-sizing			: border-box;
	}
	::selection {
		color				: white;
		background			: #00CBFF;
	}
	body {
		margin         		: var(--header-height) 0 0 0;
		min-height     		: calc(100vh - var(--header-height));
		background 			: var(--body-bg);
		@apply flex flex-col;
	}
	
	@screen xl {
		.container {
			padding-left	: 0 !important;
			padding-right	: 0 !important;
		}
	}
	
	
	h1 {
		@apply text-[36px] leading-[43px] font-semibold tracking-[-0.72px] lg:text-[51px] lg:leading-[56px] lg:tracking-[-0.66px] mb-4;
	}
	h2 {
		@apply text-[29px] leading-[35px] font-semibold tracking-[-0.58px] lg:text-[41px] lg:leading-[49px] lg:tracking-[-0.82px] mb-4;
	}
	h3 {
		@apply text-[24px] leading-[29px] font-semibold tracking-[-0.48px] lg:text-[27px] lg:leading-[32px] lg:tracking-[-0.54px] mb-4;
	}
	h4 {
		@apply text-[20px] leading-[28px] font-semibold tracking-[-0.4px] lg:text-[23px] lg:leading-[28px] lg:tracking-[-0.46px] mb-4;
	}
	h5 {
		@apply text-[17px] leading-[27px] font-semibold tracking-[-0.34px] lg:text-[19px] lg:leading-[23px] lg:tracking-[-0.38px] mb-4;
	}
	h6 {
		@apply text-[14px] leading-[25px] font-semibold tracking-[-0.28px] lg:text-[15px] lg:leading-[27px] lg:tracking-[-0.3px] mb-4;
	}
	p {
		@apply text-[15px] leading-[27px] font-normal tracking-[-0.4px] lg:text-[16px] lg:leading-[22px] lg:tracking-[-0.3px] mb-4;
	}
}
@layer components {
	.main-header{
		background 			: #007BDF;
		min-height     		: var(--header-height);
		position			: fixed;
		top					: 0;
		width				: 100%;
	}
	.main-container{
		width: 100%;
		max-width: 4000px;
		margin: 0 auto;
	}
	.main-footer {
		background 			: #007BDF;
		color      			: #FFF;
		padding    			: 2rem 0;
		margin-top 			: auto;
	}
}
