@use "media-queries";
$breakpoints 		:
	(
		s	: 0,
		m	: 768px,
		l	: 1024px,
		lg	: 1440px,
		xl	: 1600px,
		xxl	: 1920px
);
@layer components {
	.bg-custom {
		background: rgba(0, 0, 0, 0.52);
		box-shadow: 0px 9px 18px 0px rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(0px);
	}
	.bg-custom-2 {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #000C46;
		box-shadow: 0px 9px 18px 0px rgba(0, 0, 0, 0.20);
		backdrop-filter: blur(16.5px);
	}
	.section-container {
		width: 100%;
		max-width: 2500px;
		margin: 0 auto;
	}
	.card-title{
		color: #FFF;
		font-family: Montserrat;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 110%; /* 24.2px */
		@screen l {
			font-size: 22px;
		}
	}
	.card-description{
		color: #C6C6C6;
		font-family: Montserrat;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 150%; /* 21px */
		letter-spacing: -0.14px;
	}
	.item-container {
		width: 100%;
		max-width: 1600px;
		margin: 0 auto;
		padding-left: 15px;
		padding-right: 15px;
		@screen xl {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.footer-title{
		color: #FFF;
		font-family: Montserrat;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 110%; /* 24.2px */
		@screen l {
			font-size: 22px;
		}
	}
	.my-bg{
		background: red;
	}
	.footer-description{
		color: #C6C6C6;
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: 150%; /* 21px */
		letter-spacing: -0.14px;
		@screen l {
			font-size: 14px;
		}
	}
}
